<!DOCTYPE html>
<html>
  <head>
    <title>InstanceDataCreation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "navbar_styles" %>
    <%= stylesheet_link_tag "global_styles" %>
    <% #jquery, popperjs and bootstrap added %>
    <%= javascript_include_tag "jquery-3.7.1.min.js" %>
    <%= javascript_include_tag "popper.min.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "d3.v3.min.js" %>
    <%= javascript_include_tag "graph.js" %>
    

    
    
  </head>

  <body>


    <%= yield %>



  </body>
</html>
